<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>COVID-19 Tracker</title>
    <link rel="icon" href="https://pngimg.com/uploads/coronavirus/coronavirus_PNG22.png" type="image/icon type">

</head>

<body style="font-family: 'Inter', sans-serif;">
<div class="container">
    <div id="heading" class="jumbotron center" align="center">
        <h1 class="h1">COVID-19 TRACKER</h1>
        <h5>
            <small class="text-muted">Stay Home Stay Safe!</small>
        </h5>
    </div>
    <div th:if="${countryList}!=null">

        <div class="row" align="center" style="padding-bottom: 2em;">
            <div class="col-md-4">
                <span style="color: blue; font-size: x-large; font-weight: bold;">TOTAL CONFIRMED</span>
                <br><span style="font-size: medium; font-weight: bold;" th:text="${TOTAL_CONFIRMED}">1234567</span>
            </div>
            <div class="col-md-4">
                <span style="color: red; font-size: x-large; font-weight: bold;">TOTAL DEATHS</span>
                <br><span style="font-size: medium; font-weight: bold;" th:text="${TOTAL_DEATHS}">1234567</span>
            </div>
            <div class="col-md-4">
                <span style="color: green; font-size: x-large; font-weight: bold;">TOTAL RECOVERED</span>
                <br><span style="font-size: medium; font-weight: bold;" th:text="${TOTAL_RECOVERED}">1234567</span>
            </div>
        </div>


        <div class="table-responsive-sm">
            <table class="table table-striped ">
                <thead class="thead-dark">
                <tr>
                    <th>Country</th>
                    <th>Cases</th>
                    <th>Deaths</th>
                    <th>Recovered</th>
                    <th>Active</th>
                    <th>Critical</th>
                    <th>Tests Done</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="country : ${countryList}">
                    <td>
                        <img th:src="${country.countryInfo.flag}" height="25px" width="50px">
                        <span th:text="${country.country}"></span>
                    </td>

                    <td>
                        <span th:text="${country.cases}"></span>
                        <span th:if="${country.todayCases}>0">
                                    <span class="badge badge-pill badge-warning">
                                        <span th:text="${country.todayCases}"></span>
                                        <span>&#8593</span>
                                    </span>
                                </span>
                    </td>
                    <td>
                        <span th:text="${country.deaths}"></span>
                        <span th:if="${country.todayDeaths}>0">
                                    <span class="badge badge-pill badge-danger">
                                        <span th:text="${country.todayDeaths}"></span>
                                        <span>&#8593</span>
                                    </span>
                                </span>
                    </td>
                    <td style="color: green;" th:text="${country.recovered}"></td>
                    <td style="color: blue;" th:text="${country.active}"></td>
                    <td style="color: maroon;" th:text="${country.critical}"></td>
                    <td th:text="${country.tests}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:unless="${countryList}!=null">
        <h4 align="center" th:text="${error}" style="color: red;"></h4>
    </div>
</div>


</body>

</html>